@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --text-color-one: hsl(218, 44%, 22%);
    --paragraph-color: hsl(216, 15%, 48%);
    --backgroundcolor: hsl(212, 45%, 89%);
    --containercolor: hsl(0, 0%, 100%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--backgroundcolor);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.container_qrcode {
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 260px;
    height: 400px;
    gap: 20px;
}

.container_qrcode img {
    width: 90%;
    border-radius: 10px;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_container h3 {
    color: var(--text-color-one);
    font-weight: 700;
}

.text_container h4 {
    color: var(--paragraph-color);
    font-weight: 400;
}
